<% provide(:title, "Leaderboard") %>
<!--h1>Leaderboard</h1-->

<table class="leaderboard">
    <tr>
        <th>Rang</th>
        <th>Name</th>
        <th>Score</th>
        <% if false %>
        <th>Coins</th>
        <th>Sausages</th>
        <th>Flags</th>
        <th>Characters</th>
        <th>Remaining Time</th>
        <th>Version</th>
        <% end %>
    </tr>
    <% @leader_board_entries.each.with_index(@rankOffset) do |leader_board_entry, index| %>
    <tr>
        <td><%= index %>.</td>
        <td><%= leader_board_entry.acronym %></td>
        <td><%= leader_board_entry.score %></td>
        <% if false %>
        <td><%= leader_board_entry.coins %></td>
        <td><%= leader_board_entry.sausages %></td>
        <td><%= leader_board_entry.flags %></td>
        <td><%= leader_board_entry.characters %></td>
        <td><%= leader_board_entry.remainingtime %></td>
        <td><%= leader_board_entry.version %></td>
        <% end %>
    </tr>
    <% end %>
</table>

<%= will_paginate %>